* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.normal-page {
  position: relative;
  width: 100%;
  height: 50.7vw;
}
.normal-page-bg {
  width: 100%;
  height: 100%;
}
.normal-page-bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center 90%;
     object-position: center 90%;
}
.normal-page-bg span {
  position: absolute;
  left: 1vw;
  bottom: 1vw;
  font-size: 1vw;
  font-weight: 600;
  color: #fff;
}
.normal-page-para {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
}
.normal-page-para img {
  position: absolute;
}

.swiper-page {
  width: 100%;
  height: 50.7vw;
}
.swiper-page .swiper {
  width: 100%;
  height: 100%;
  position: relative;
}
.swiper-page .swiper .swiper-wrapper {
  width: 100%;
  height: 100%;
}
.swiper-page .swiper .swiper-wrapper .swiper-slide {
  position: relative;
  width: 100%;
  height: 100%;
}
.swiper-page .swiper .swiper-wrapper .swiper-slide .imgBox {
  width: 100%;
  height: 100%;
}
.swiper-page .swiper .swiper-wrapper .swiper-slide .imgBox img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.swiper-page .swiper .swiper-wrapper .swiper-slide .imgBox span {
  position: absolute;
  left: 1vw;
  bottom: 1vw;
  font-size: 1vw;
  font-weight: 600;
  color: #fff;
}
.swiper-page .swiper .swiper-wrapper .swiper-slide .paraBox {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.swiper-page .swiper .swiper-wrapper .swiper-slide .paraBox img {
  position: absolute;
}
.swiper-page .swiper .navigation {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  padding: 1.5vw;
  z-index: 3;
}
.swiper-page .swiper .navigation span {
  font-size: 3vw;
  color: #fff;
  font-weight: 900;
  filter: drop-shadow(0 0 4px #000);
  pointer-events: none;
}
.swiper-page .swiper .navigation .prev {
  cursor: pointer;
}
.swiper-page .swiper .navigation .next {
  cursor: pointer;
}

.first-page {
  overflow: hidden;
  background-color: #000;
}
.first-page-para :nth-child(1) {
  position: absolute;
  left: 18vw;
  top: 7vw;
  width: 25vw;
}
.first-page-para :nth-child(2) {
  right: 8vw;
  top: 5vw;
  width: 38vw;
}
.first-page-para :nth-child(3) {
  right: 16vw;
  top: 12vw;
  width: 20vw;
}
.first-page-para :nth-child(4) {
  right: 12vw;
  top: 21.5vw;
  width: 26vw;
}
.first-page-para :nth-child(5) {
  right: 15.5vw;
  top: 26vw;
  width: 18vw;
}

.second-page-para img {
  position: absolute;
  right: 0;
  left: 0;
  margin: 0 auto;
}
.second-page-para :nth-child(1) {
  bottom: 12vw;
  width: 70%;
  filter: drop-shadow(0 0 4px #000);
}
.second-page-para :nth-child(2) {
  bottom: 4vw;
  width: 77%;
}

.third-page-para img {
  position: absolute;
  right: 0;
  left: 0;
  margin: 0 auto;
}
.third-page-para :nth-child(1) {
  width: 77%;
  filter: drop-shadow(0 0 4px #000);
}
.third-page-para :nth-child(2) {
  width: 77%;
  top: 5vw;
}

.forth-page-para :nth-child(1) {
  width: 32vw;
  left: 2vw;
  top: 1vw;
  filter: drop-shadow(0 0 4px #000);
}
.forth-page-para :nth-child(2) {
  width: 40vw;
  left: 35vw;
  top: 2vw;
}

.fifth-page-para img {
  position: absolute;
  right: 0;
  left: 0;
  margin: 0 auto;
  filter: drop-shadow(0 0 4px #000);
}
.fifth-page-para :nth-child(1) {
  width: 77%;
  top: 0.5vw;
}
.fifth-page-para :nth-child(2) {
  width: 77%;
  top: 5.5vw;
}

.sixth-page-para :nth-child(1) {
  width: 40vw;
  left: 4vw;
  top: 5vw;
  filter: drop-shadow(0 0 4px #000);
}
.sixth-page-para :nth-child(2) {
  width: 35vw;
  left: 6.5vw;
  top: 15vw;
}

.seventh-page-para img {
  position: absolute;
  right: 0;
  left: 0;
  margin: 0 auto;
}
.seventh-page-para :nth-child(1) {
  width: 70%;
  top: 2.5vw;
}

.eighth-page .swiper .swiper-wrapper .swiper-slide .paraBox :nth-child(1) {
  filter: drop-shadow(0 0 4px #000);
}
.eighth-page .swiper .swiper-wrapper .slide1 .paraBox :nth-child(1) {
  left: 26.2vw;
  top: 17vw;
  width: 25vw;
}
.eighth-page .swiper .swiper-wrapper .slide1 .paraBox :nth-child(2) {
  left: 16vw;
  top: 25vw;
  width: 35vw;
}
.eighth-page .swiper .swiper-wrapper .slide2 .paraBox :nth-child(1) {
  left: 12vw;
  top: 3vw;
  width: 38vw;
}
.eighth-page .swiper .swiper-wrapper .slide2 .paraBox :nth-child(2) {
  left: 12vw;
  top: 14vw;
  width: 42vw;
}

.ninth-page .swiper .swiper-wrapper .swiper-slide .paraBox :nth-child(1) {
  filter: drop-shadow(0 0 4px #000);
}
.ninth-page .swiper .swiper-wrapper .slide1 .imgBox span {
  color: #B47B5B;
}
.ninth-page .swiper .swiper-wrapper .slide1 .paraBox :nth-child(1) {
  filter: none;
  right: 14vw;
  top: 18.5vw;
  width: 16vw;
}
.ninth-page .swiper .swiper-wrapper .slide1 .paraBox :nth-child(2) {
  right: 14vw;
  top: 27vw;
  width: 23vw;
}
.ninth-page .swiper .swiper-wrapper .slide2 .paraBox :nth-child(1) {
  right: 11vw;
  top: 2vw;
  width: 24vw;
}
.ninth-page .swiper .swiper-wrapper .slide2 .paraBox :nth-child(2) {
  right: 11vw;
  top: 12vw;
  width: 35vw;
}
.ninth-page .swiper .swiper-wrapper .slide3 .paraBox :nth-child(1) {
  left: 8vw;
  top: 2vw;
  width: 24vw;
}
.ninth-page .swiper .swiper-wrapper .slide3 .paraBox :nth-child(2) {
  left: 8vw;
  top: 12vw;
  width: 35vw;
}
.ninth-page .swiper .swiper-wrapper .slide4 .paraBox :nth-child(1) {
  right: 11vw;
  top: 2vw;
  width: 24vw;
}
.ninth-page .swiper .swiper-wrapper .slide4 .paraBox :nth-child(2) {
  right: 11vw;
  top: 10vw;
  width: 35vw;
}
.ninth-page .swiper .swiper-wrapper .slide5 .paraBox :nth-child(1) {
  left: 8vw;
  top: 2vw;
  width: 24vw;
}
.ninth-page .swiper .swiper-wrapper .slide5 .paraBox :nth-child(2) {
  left: 8vw;
  top: 10vw;
  width: 35vw;
}
.ninth-page .swiper .swiper-wrapper .slide6 .paraBox :nth-child(1) {
  left: 8vw;
  top: 2vw;
  width: 24vw;
}
.ninth-page .swiper .swiper-wrapper .slide6 .paraBox :nth-child(2) {
  left: 8vw;
  top: 10.5vw;
  width: 35vw;
}
.ninth-page .swiper .swiper-wrapper .slide7 .paraBox :nth-child(1) {
  right: 11vw;
  top: 2vw;
  width: 24vw;
}
.ninth-page .swiper .swiper-wrapper .slide7 .paraBox :nth-child(2) {
  right: 11vw;
  top: 11vw;
  width: 30vw;
}
.ninth-page .swiper .swiper-wrapper .slide15 .paraBox :nth-child(1) {
  right: 11vw;
  top: 2vw;
  width: 24vw;
}
.ninth-page .swiper .swiper-wrapper .slide15 .paraBox :nth-child(2) {
  right: 11vw;
  top: 12vw;
  width: 30vw;
}
.ninth-page .swiper .swiper-wrapper .slide16 .paraBox :nth-child(1) {
  left: 8vw;
  top: 2vw;
  width: 24vw;
}
.ninth-page .swiper .swiper-wrapper .slide16 .paraBox :nth-child(2) {
  left: 8vw;
  top: 12vw;
  width: 35vw;
}
.ninth-page .swiper .swiper-wrapper .slide17 .paraBox :nth-child(1) {
  right: 11vw;
  top: 2vw;
  width: 24vw;
}
.ninth-page .swiper .swiper-wrapper .slide17 .paraBox :nth-child(2) {
  right: 11vw;
  top: 12vw;
  width: 30vw;
}

.tenth-page .swiper .swiper-wrapper .swiper-slide .paraBox :nth-child(1) {
  filter: drop-shadow(0 0 4px #000);
}
.tenth-page .swiper .swiper-wrapper .slide1 .imgBox span {
  color: #B47B5B;
}
.tenth-page .swiper .swiper-wrapper .slide1 .paraBox :nth-child(1) {
  filter: none;
  right: 14vw;
  top: 18.5vw;
  width: 14vw;
}
.tenth-page .swiper .swiper-wrapper .slide1 .paraBox :nth-child(2) {
  right: 14vw;
  top: 27vw;
  width: 23vw;
}
.tenth-page .swiper .swiper-wrapper .slide2 .paraBox {
  width: 48vw;
  height: 100%;
  right: 0;
  left: auto;
  top: 0;
  background-color: rgba(255, 255, 255, 0.384);
}
.tenth-page .swiper .swiper-wrapper .slide2 .paraBox :nth-child(1) {
  left: 2vw;
  top: 0;
  bottom: 0;
  margin: auto 0;
  width: 32vw;
}
.tenth-page .swiper .swiper-wrapper .slide3 .paraBox {
  width: 60vw;
  height: 100%;
  right: 0;
  left: auto;
  top: 0;
}
.tenth-page .swiper .swiper-wrapper .slide3 .paraBox :nth-child(1) {
  left: 5vw;
  bottom: 2vw;
  width: 39vw;
}
.tenth-page .swiper .swiper-wrapper .slide4 .paraBox :nth-child(1) {
  right: 14vw;
  top: 18.5vw;
  width: 14vw;
}
.tenth-page .swiper .swiper-wrapper .slide4 .paraBox :nth-child(2) {
  right: 14vw;
  top: 27vw;
  width: 23vw;
}
.tenth-page .swiper .swiper-wrapper .slide5 .paraBox :nth-child(1) {
  right: 37vw;
  top: 3vw;
  width: 32vw;
}
.tenth-page .swiper .swiper-wrapper .slide5 .paraBox :nth-child(2) {
  right: 9vw;
  top: 4vw;
  width: 20vw;
}
.tenth-page .swiper .swiper-wrapper .slide5 .paraBox :nth-child(3) {
  right: 9vw;
  top: 11vw;
  width: 20vw;
}
.tenth-page .swiper .swiper-wrapper .slide5 .paraBox :nth-child(4) {
  right: 9vw;
  top: 38vw;
  width: 20vw;
}
.tenth-page .swiper .swiper-wrapper .slide6 .paraBox {
  width: 48vw;
  height: 100%;
  right: 0;
  left: auto;
  top: 0;
  background-color: rgba(255, 255, 255, 0.384);
}
.tenth-page .swiper .swiper-wrapper .slide6 .paraBox :nth-child(1) {
  width: 25vw;
  top: 4vw;
  left: -25vw;
}
.tenth-page .swiper .swiper-wrapper .slide6 .paraBox :nth-child(2) {
  width: 23vw;
  top: 2vw;
  left: 2.5vw;
}
.tenth-page .swiper .swiper-wrapper .slide6 .paraBox :nth-child(3) {
  width: 75%;
  left: 0.6vw;
  top: 21.5vw;
}
.tenth-page .swiper .swiper-wrapper .slide7 .paraBox {
  width: 48vw;
  height: 100%;
  right: 0;
  left: auto;
  top: 0;
  background-color: rgba(255, 255, 255, 0.384);
}
.tenth-page .swiper .swiper-wrapper .slide7 .paraBox :nth-child(1) {
  width: 25vw;
  top: 4vw;
  left: -25vw;
}
.tenth-page .swiper .swiper-wrapper .slide7 .paraBox :nth-child(2) {
  width: 75%;
  top: 2vw;
  left: 1.5vw;
}
.tenth-page .swiper .swiper-wrapper .slide7 .paraBox :nth-child(3) {
  width: 75%;
  left: 1.5vw;
  top: 13vw;
}
.tenth-page .swiper .swiper-wrapper .slide8 .paraBox :nth-child(1) {
  right: 11vw;
  top: 4.5vw;
  width: 24vw;
}
.tenth-page .swiper .swiper-wrapper .slide8 .paraBox :nth-child(2) {
  right: 11vw;
  top: 12vw;
  width: 30vw;
}
.tenth-page .swiper .swiper-wrapper .slide9 .paraBox :nth-child(1) {
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 4.5vw;
  width: 65%;
}
.tenth-page .swiper .swiper-wrapper .slide9 .paraBox :nth-child(2) {
  bottom: 1.8vw;
  left: 18.5vw;
  width: 50.5vw;
}
.tenth-page .swiper .swiper-wrapper .slide10 .paraBox :nth-child(1) {
  right: 11vw;
  top: 4.5vw;
  width: 28vw;
}
.tenth-page .swiper .swiper-wrapper .slide10 .paraBox :nth-child(2) {
  right: 11vw;
  top: 11.5vw;
  width: 30vw;
}

.twelve-page-para :nth-child(1) {
  position: absolute;
  left: 12vw;
  top: 5vw;
  width: 45vw;
  filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.795));
}
.twelve-page-para :nth-child(2) {
  left: 20vw;
  top: 12.5vw;
  width: 28vw;
  filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.795));
}

.thirdteen-page-para :nth-child(1) {
  right: 8vw;
  top: 14vw;
  width: 32vw;
  filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.795));
}
.thirdteen-page-para :nth-child(2) {
  right: 12vw;
  top: 19vw;
  width: 24vw;
  filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.795));
}
.thirdteen-page-para :nth-child(3) {
  right: 10.5vw;
  top: 23.5vw;
  width: 25.5vw;
  filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.795));
}
.thirdteen-page-para :nth-child(4) {
  right: 13vw;
  top: 30vw;
  width: 22vw;
  filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.795));
}

.phone {
  display: none;
}

@media all and (max-width: 1024px) {
  .phone {
    display: block;
  }
  .computer {
    display: none;
  }
  .normal-page {
    position: relative;
    width: 100%;
    height: 145vw;
  }
  .normal-page-bg {
    width: 100%;
    height: 100%;
  }
  .normal-page-bg img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center 100%;
       object-position: center 100%;
  }
  .normal-page-bg span {
    position: absolute;
    left: 2.5vw;
    bottom: 2vw;
    font-size: 2.5vw;
    font-weight: 600;
    color: #fff;
  }
  .normal-page-para {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
  }
  .normal-page-para img {
    position: absolute;
  }
  .swiper-page {
    width: 100%;
    height: 148vw;
  }
  .swiper-page .swiper {
    width: 100%;
    height: 100%;
    position: relative;
  }
  .swiper-page .swiper .swiper-wrapper {
    width: 100%;
    height: 100%;
  }
  .swiper-page .swiper .swiper-wrapper .swiper-slide {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .swiper-page .swiper .swiper-wrapper .swiper-slide .imgBox {
    width: 100%;
    height: 100%;
  }
  .swiper-page .swiper .swiper-wrapper .swiper-slide .imgBox img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .swiper-page .swiper .swiper-wrapper .swiper-slide .imgBox span {
    position: absolute;
    left: 2.5vw;
    bottom: 3vw;
    font-size: 2vw;
    font-weight: 600;
    color: #fff;
  }
  .swiper-page .swiper .swiper-wrapper .swiper-slide .paraBox {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  .swiper-page .swiper .swiper-wrapper .swiper-slide .paraBox img {
    position: absolute;
  }
  .swiper-page .swiper .navigation {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    padding: 2.5vw;
    z-index: 3;
  }
  .swiper-page .swiper .navigation span {
    font-size: 7vw;
    pointer-events: none;
  }
  .swiper-page .swiper .navigation .prev {
    cursor: pointer;
  }
  .swiper-page .swiper .navigation .next {
    cursor: pointer;
  }
  .first-page-para {
    width: 100%;
  }
  .first-page-para :nth-child(1) {
    position: absolute;
    top: 6vw;
    width: 45vw;
  }
  .first-page-para :nth-child(2) {
    top: 23vw;
    width: 70vw;
  }
  .first-page-para :nth-child(3) {
    top: 37vw;
    width: 45vw;
  }
  .first-page-para :nth-child(4) {
    top: 51vw;
    width: 95vw;
  }
  .first-page-para :nth-child(5) {
    top: 65vw;
    width: 60vw;
  }
  .first-page-para img, .first-page-para svg {
    left: 0 !important;
    right: 0 !important;
    margin: 0 auto;
  }
  .second-page-para img {
    position: absolute;
    right: 0;
    left: 0;
    margin: 0 auto;
  }
  .second-page-para :nth-child(3) {
    top: 7vw;
    width: 55%;
  }
  .second-page-para :nth-child(4) {
    bottom: 8vw;
    width: 77%;
  }
  .third-page {
    height: auto;
  }
  .third-page-para img {
    position: absolute;
    right: 0;
    left: 0;
    margin: 0 auto;
  }
  .third-page-para :nth-child(3) {
    width: 85%;
    top: 5vw;
  }
  .third-page-para :nth-child(4) {
    width: 85%;
    top: 28vw;
    background-color: #fff;
    padding: 4vw 1vw 5vw;
    border-radius: 40px;
  }
  .forth-page {
    height: auto;
  }
  .forth-page .normal-page-bg img {
    -o-object-position: right center;
       object-position: right center;
  }
  .forth-page-para :nth-child(1) {
    width: 50vw;
    left: 2vw;
    top: 6vw;
  }
  .forth-page-para :nth-child(3) {
    width: 60vw;
    left: 4.5vw;
    top: 35vw;
  }
  .fifth-page {
    height: auto;
  }
  .fifth-page-para img {
    position: absolute;
    right: 0;
    left: 0;
    margin: 0 auto;
  }
  .fifth-page-para :nth-child(3) {
    width: 45%;
    top: 3vw;
  }
  .fifth-page-para :nth-child(4) {
    width: 90%;
    top: 35vw;
    background-color: #fff;
    padding: 4vw 3vw 4vw;
    border-radius: 40px;
  }
  .sixth-page .normal-page-bg img {
    -o-object-position: 30% center;
       object-position: 30% center;
  }
  .sixth-page-para img {
    left: 0;
    right: 0;
    margin: auto;
  }
  .sixth-page-para :nth-child(1) {
    left: 0;
    right: 0;
    margin: auto;
    width: 85%;
    top: 10vw;
  }
  .sixth-page-para :nth-child(3) {
    width: 90%;
    top: 35vw;
    background-color: rgba(255, 255, 255, 0.589);
    padding: 4vw 5vw 4vw;
    border-radius: 40px;
  }
  .seventh-page {
    overflow-x: auto;
    overflow-y: hidden;
  }
  .seventh-page .normal-page-bg {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .seventh-page .normal-page-bg .imgBox {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .seventh-page .normal-page-bg .imgBox img {
    position: relative;
    height: 145vw;
    width: auto;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .seventh-page-para img {
    position: absolute;
    right: 0;
    left: 0;
    margin: 0 auto;
  }
  .seventh-page-para :nth-child(2) {
    width: 70%;
    top: 8vw;
    left: 57vw;
  }
  .seventh-page-para :nth-child(3) {
    width: 61%;
    top: 20vw;
    left: 57vw;
    filter: drop-shadow(0 0 4px #000);
  }
  .eighth-page .swiper .swiper-wrapper .slide1 .imgBox img {
    -o-object-position: 73% center;
       object-position: 73% center;
  }
  .eighth-page .swiper .swiper-wrapper .slide1 .paraBox {
    display: block;
  }
  .eighth-page .swiper .swiper-wrapper .slide1 .paraBox :nth-child(3) {
    left: 3vw;
    top: 6vw;
    width: 60%;
  }
  .eighth-page .swiper .swiper-wrapper .slide1 .paraBox :nth-child(4) {
    left: 3vw;
    top: 30vw;
    width: 45vw;
    background-color: rgba(255, 255, 255, 0.548);
    padding: 5vw;
    border-radius: 40px;
  }
  .eighth-page .swiper .swiper-wrapper .slide2 .imgBox img {
    -o-object-position: 65% center;
       object-position: 65% center;
  }
  .eighth-page .swiper .swiper-wrapper .slide2 .paraBox :nth-child(1) {
    left: 12vw;
    top: 3vw;
    width: 38vw;
  }
  .eighth-page .swiper .swiper-wrapper .slide2 .paraBox :nth-child(2) {
    left: 12vw;
    top: 14vw;
    width: 42vw;
  }
  .eighth-page .swiper .swiper-wrapper :nth-child(5) .imgBox img {
    -o-object-position: right center;
       object-position: right center;
  }
  .ninth-page .swiper .swiper-wrapper .slide1 .imgBox span {
    color: #B47B5B;
    bottom: 81vw;
  }
  .ninth-page .swiper .swiper-wrapper .slide1 .paraBox {
    display: block;
  }
  .ninth-page .swiper .swiper-wrapper .slide1 .paraBox :nth-child(3) {
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 80vw;
    width: 40vw;
  }
  .ninth-page .swiper .swiper-wrapper .slide1 .paraBox :nth-child(4) {
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 105vw;
    width: 60vw;
  }
  .ninth-page .swiper .swiper-wrapper .slide2 .imgBox img {
    -o-object-position: 40% center;
       object-position: 40% center;
  }
  .ninth-page .swiper .swiper-wrapper .slide2 .paraBox :nth-child(1) {
    right: 11vw;
    top: 2vw;
    width: 24vw;
  }
  .ninth-page .swiper .swiper-wrapper .slide2 .paraBox :nth-child(2) {
    right: 11vw;
    top: 12vw;
    width: 35vw;
  }
  .ninth-page .swiper .swiper-wrapper .slide3 .imgBox img {
    -o-object-position: 40% center;
       object-position: 40% center;
  }
  .ninth-page .swiper .swiper-wrapper .slide3 .paraBox :nth-child(1) {
    left: 8vw;
    top: 2vw;
    width: 24vw;
  }
  .ninth-page .swiper .swiper-wrapper .slide3 .paraBox :nth-child(2) {
    left: 8vw;
    top: 12vw;
    width: 35vw;
  }
  .ninth-page .swiper .swiper-wrapper .slide4 .paraBox :nth-child(1) {
    right: 11vw;
    top: 2vw;
    width: 24vw;
  }
  .ninth-page .swiper .swiper-wrapper .slide4 .paraBox :nth-child(2) {
    right: 11vw;
    top: 10vw;
    width: 35vw;
  }
  .ninth-page .swiper .swiper-wrapper .slide5 .paraBox :nth-child(1) {
    left: 8vw;
    top: 2vw;
    width: 24vw;
  }
  .ninth-page .swiper .swiper-wrapper .slide5 .paraBox :nth-child(2) {
    left: 8vw;
    top: 10vw;
    width: 35vw;
  }
  .ninth-page .swiper .swiper-wrapper .slide6 .paraBox :nth-child(1) {
    left: 8vw;
    top: 2vw;
    width: 24vw;
  }
  .ninth-page .swiper .swiper-wrapper .slide6 .paraBox :nth-child(2) {
    left: 8vw;
    top: 10.5vw;
    width: 35vw;
  }
  .ninth-page .swiper .swiper-wrapper .slide7 .paraBox :nth-child(1) {
    right: 11vw;
    top: 2vw;
    width: 24vw;
  }
  .ninth-page .swiper .swiper-wrapper .slide7 .paraBox :nth-child(2) {
    right: 11vw;
    top: 11vw;
    width: 30vw;
  }
  .ninth-page .swiper .swiper-wrapper .slide15 .paraBox :nth-child(1) {
    right: 11vw;
    top: 2vw;
    width: 24vw;
  }
  .ninth-page .swiper .swiper-wrapper .slide15 .paraBox :nth-child(2) {
    right: 11vw;
    top: 12vw;
    width: 30vw;
  }
  .ninth-page .swiper .swiper-wrapper .slide16 .imgBox img {
    -o-object-position: 35% center;
       object-position: 35% center;
  }
  .ninth-page .swiper .swiper-wrapper .slide16 .paraBox :nth-child(1) {
    left: 8vw;
    top: 2vw;
    width: 24vw;
  }
  .ninth-page .swiper .swiper-wrapper .slide16 .paraBox :nth-child(2) {
    left: 8vw;
    top: 12vw;
    width: 35vw;
  }
  .ninth-page .swiper .swiper-wrapper .slide17 .imgBox img {
    -o-object-position: 55% center;
       object-position: 55% center;
  }
  .ninth-page .swiper .swiper-wrapper .slide17 .paraBox :nth-child(1) {
    right: 11vw;
    top: 2vw;
    width: 24vw;
  }
  .ninth-page .swiper .swiper-wrapper .slide17 .paraBox :nth-child(2) {
    right: 11vw;
    top: 12vw;
    width: 30vw;
  }
  .tenth-page .swiper .swiper-wrapper .swiper-slide .imgBox span {
    bottom: 88vw;
  }
  .tenth-page .swiper .swiper-wrapper .swiper-slide .imgBox .span {
    display: none;
  }
  .tenth-page .swiper .swiper-wrapper .slide1 .imgBox span {
    color: #B47B5B;
    bottom: 81vw;
  }
  .tenth-page .swiper .swiper-wrapper .slide1 .paraBox {
    display: block;
  }
  .tenth-page .swiper .swiper-wrapper .slide1 .paraBox :nth-child(3) {
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 80vw;
    width: 40vw;
  }
  .tenth-page .swiper .swiper-wrapper .slide1 .paraBox :nth-child(4) {
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 105vw;
    width: 60vw;
  }
  .twelve-page .normal-page-bg img {
    -o-object-position: 13% center;
       object-position: 13% center;
  }
  .twelve-page-para :nth-child(3) {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 15vw;
    width: 48%;
    filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.795));
  }
  .twelve-page-para :nth-child(2) {
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 35vw;
    width: 75%;
    filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.795));
  }
  .thirdteen-page-para :nth-child(1) {
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 85vw;
    width: 70vw;
    filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.795));
  }
  .thirdteen-page-para :nth-child(2) {
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 96vw;
    width: 45vw;
    filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.795));
  }
  .thirdteen-page-para :nth-child(3) {
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 105vw;
    width: 55vw;
    filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.795));
  }
  .thirdteen-page-para :nth-child(4) {
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 117vw;
    width: 65vw;
    filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.795));
  }
}
@media all and (max-width: 1024px) and (max-width: 500px) {
  .normal-page {
    position: relative;
    width: 100%;
    height: 200vw;
  }
  .normal-page-bg {
    width: 100%;
    height: 100%;
  }
  .normal-page-bg img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center 100%;
       object-position: center 100%;
  }
  .normal-page-bg span {
    position: absolute;
    left: 2.5vw;
    bottom: 1vw;
    font-size: 3.2vw;
    font-weight: 600;
    color: #fff;
    filter: drop-shadow(0 0 2.5px #000);
  }
  .normal-page-para {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
  }
  .normal-page-para img {
    position: absolute;
  }
  .swiper-page {
    width: 100%;
    height: 200vw;
  }
  .swiper-page .swiper {
    width: 100%;
    height: 100%;
    position: relative;
  }
  .swiper-page .swiper .swiper-wrapper {
    width: 100%;
    height: 100%;
  }
  .swiper-page .swiper .swiper-wrapper .swiper-slide {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .swiper-page .swiper .swiper-wrapper .swiper-slide .imgBox {
    width: 100%;
    height: 100%;
  }
  .swiper-page .swiper .swiper-wrapper .swiper-slide .imgBox img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .swiper-page .swiper .swiper-wrapper .swiper-slide .imgBox span {
    position: absolute;
    left: 2.5vw;
    bottom: 3vw;
    font-size: 3.2vw;
    font-weight: 600;
    color: #fff;
    filter: drop-shadow(0 0 2.5px #000);
  }
  .swiper-page .swiper .swiper-wrapper .swiper-slide .paraBox {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  .swiper-page .swiper .swiper-wrapper .swiper-slide .paraBox img {
    position: absolute;
  }
  .swiper-page .swiper .navigation {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    padding: 2.5vw;
    z-index: 3;
  }
  .swiper-page .swiper .navigation span {
    font-size: 7vw;
    pointer-events: none;
  }
  .swiper-page .swiper .navigation .prev {
    cursor: pointer;
  }
  .swiper-page .swiper .navigation .next {
    cursor: pointer;
  }
  .swiper-page {
    width: 100%;
    height: 148vw;
  }
  .swiper-page .swiper {
    width: 100%;
    height: 100%;
    position: relative;
  }
  .swiper-page .swiper .swiper-wrapper {
    width: 100%;
    height: 100%;
  }
  .swiper-page .swiper .swiper-wrapper .swiper-slide {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .swiper-page .swiper .swiper-wrapper .swiper-slide .imgBox {
    width: 100%;
    height: 100%;
  }
  .swiper-page .swiper .swiper-wrapper .swiper-slide .imgBox img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .swiper-page .swiper .swiper-wrapper .swiper-slide .imgBox span {
    position: absolute;
    left: 2.5vw;
    bottom: 3vw;
    font-size: 2vw;
    font-weight: 600;
    color: #fff;
  }
  .swiper-page .swiper .swiper-wrapper .swiper-slide .paraBox {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  .swiper-page .swiper .swiper-wrapper .swiper-slide .paraBox img {
    position: absolute;
  }
  .swiper-page .swiper .navigation {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    padding: 2.5vw;
    z-index: 3;
  }
  .swiper-page .swiper .navigation span {
    font-size: 7vw;
    pointer-events: none;
  }
  .swiper-page .swiper .navigation .prev {
    cursor: pointer;
  }
  .swiper-page .swiper .navigation .next {
    cursor: pointer;
  }
  .first-page-para {
    width: 100%;
  }
  .first-page-para :nth-child(1) {
    position: absolute;
    top: 15vw;
    width: 55vw;
  }
  .first-page-para :nth-child(2) {
    top: 40vw;
    width: 80vw;
  }
  .first-page-para :nth-child(3) {
    top: 55vw;
    width: 50vw;
  }
  .first-page-para :nth-child(4) {
    top: 70vw;
    width: 95vw;
  }
  .first-page-para :nth-child(5) {
    top: 87vw;
    width: 65vw;
  }
  .first-page-para img, .first-page-para svg {
    left: 0 !important;
    right: 0 !important;
    margin: 0 auto;
  }
  .second-page-para img {
    position: absolute;
    right: 0;
    left: 0;
    margin: 0 auto;
  }
  .second-page-para :nth-child(3) {
    top: 7vw;
    width: 60%;
  }
  .second-page-para :nth-child(4) {
    bottom: 15vw;
    width: 95%;
  }
  .third-page {
    height: auto;
  }
  .third-page-para img {
    position: absolute;
    right: 0;
    left: 0;
    margin: 0 auto;
  }
  .third-page-para :nth-child(3) {
    width: 85%;
    top: 8vw;
  }
  .third-page-para :nth-child(4) {
    width: 85%;
    top: 28vw;
    background-color: #fff;
    padding: 4vw 1vw 10vw;
    border-radius: 40px;
  }
  .forth-page {
    height: auto;
  }
  .forth-page .normal-page-bg img {
    -o-object-position: right center;
       object-position: right center;
  }
  .forth-page-para :nth-child(1) {
    width: 55vw;
    left: 2vw;
    top: 6vw;
  }
  .forth-page-para :nth-child(3) {
    width: 65vw;
    left: 4.5vw;
    top: 35vw;
  }
  .fifth-page {
    height: auto;
  }
  .fifth-page-para img {
    position: absolute;
    right: 0;
    left: 0;
    margin: 0 auto;
  }
  .fifth-page-para :nth-child(3) {
    width: 40%;
    top: 3vw;
  }
  .fifth-page-para :nth-child(4) {
    width: 90%;
    top: 33vw;
    background-color: #fff;
    padding: 6vw 4vw 6vw;
    border-radius: 20px;
  }
  .sixth-page .normal-page-bg img {
    -o-object-position: 30% center;
       object-position: 30% center;
  }
  .sixth-page-para img {
    left: 0;
    right: 0;
    margin: auto;
  }
  .sixth-page-para :nth-child(1) {
    left: 0;
    right: 0;
    margin: auto;
    width: 85%;
    top: 20vw;
  }
  .sixth-page-para :nth-child(3) {
    width: 90%;
    top: 45vw;
    background-color: rgba(255, 255, 255, 0.589);
    padding: 6vw 5vw 6vw;
    border-radius: 20px;
  }
  .seventh-page {
    overflow-x: auto;
    overflow-y: hidden;
  }
  .seventh-page .normal-page-bg {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .seventh-page .normal-page-bg .imgBox {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .seventh-page .normal-page-bg .imgBox img {
    position: relative;
    height: 200vw;
    width: auto;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .seventh-page-para img {
    position: absolute;
    right: 0;
    left: 0;
    margin: 0 auto;
  }
  .seventh-page-para :nth-child(2) {
    width: 75%;
    top: 20vw;
    left: 116vw;
  }
  .seventh-page-para :nth-child(3) {
    width: 66%;
    top: 32vw;
    left: 116vw;
    filter: drop-shadow(0 0 4px #000);
  }
  .eighth-page .swiper .swiper-wrapper .slide1 .paraBox {
    display: block;
  }
  .eighth-page .swiper .swiper-wrapper .slide1 .paraBox :nth-child(3) {
    top: 7vw;
  }
  .eighth-page .swiper .swiper-wrapper .slide1 .paraBox :nth-child(4) {
    width: 45vw;
    top: 30vw;
    border-radius: 20px;
  }
  .ninth-page .swiper .swiper-wrapper .slide1 .imgBox span {
    color: #B47B5B;
    bottom: 83vw;
  }
  .ninth-page .swiper .swiper-wrapper .slide1 .paraBox {
    display: block;
  }
  .ninth-page .swiper .swiper-wrapper .slide1 .paraBox :nth-child(4) {
    width: 70vw;
  }
  .tenth-page .swiper .swiper-wrapper .swiper-slide .imgBox span {
    bottom: 89vw;
  }
  .tenth-page .swiper .swiper-wrapper .slide1 .imgBox span {
    color: #B47B5B;
    bottom: 83vw;
  }
  .tenth-page .swiper .swiper-wrapper .slide1 .paraBox {
    display: block;
  }
  .tenth-page .swiper .swiper-wrapper .slide1 .paraBox :nth-child(4) {
    top: 109vw;
    width: 74vw;
  }
  .tenth-page .swiper .swiper-wrapper .slide2 .paraBox {
    width: 48vw;
    height: 100%;
    right: 0;
    left: auto;
    top: 0;
    background-color: rgba(255, 255, 255, 0.384);
  }
  .tenth-page .swiper .swiper-wrapper .slide2 .paraBox :nth-child(1) {
    left: 2vw;
    top: 0;
    bottom: 0;
    margin: auto 0;
    width: 32vw;
  }
  .tenth-page .swiper .swiper-wrapper .slide3 .paraBox {
    width: 60vw;
    height: 100%;
    right: 0;
    left: auto;
    top: 0;
  }
  .tenth-page .swiper .swiper-wrapper .slide3 .paraBox :nth-child(1) {
    left: 5vw;
    bottom: 2vw;
    width: 39vw;
  }
  .tenth-page .swiper .swiper-wrapper .slide4 .paraBox :nth-child(1) {
    right: 14vw;
    top: 18.5vw;
    width: 14vw;
  }
  .tenth-page .swiper .swiper-wrapper .slide4 .paraBox :nth-child(2) {
    right: 14vw;
    top: 27vw;
    width: 23vw;
  }
  .tenth-page .swiper .swiper-wrapper .slide5 .paraBox :nth-child(1) {
    right: 37vw;
    top: 3vw;
    width: 32vw;
  }
  .tenth-page .swiper .swiper-wrapper .slide5 .paraBox :nth-child(2) {
    right: 9vw;
    top: 4vw;
    width: 20vw;
  }
  .tenth-page .swiper .swiper-wrapper .slide5 .paraBox :nth-child(3) {
    right: 9vw;
    top: 11vw;
    width: 20vw;
  }
  .tenth-page .swiper .swiper-wrapper .slide5 .paraBox :nth-child(4) {
    right: 9vw;
    top: 38vw;
    width: 20vw;
  }
  .tenth-page .swiper .swiper-wrapper .slide6 .paraBox {
    width: 48vw;
    height: 100%;
    right: 0;
    left: auto;
    top: 0;
    background-color: rgba(255, 255, 255, 0.384);
  }
  .tenth-page .swiper .swiper-wrapper .slide6 .paraBox :nth-child(1) {
    width: 25vw;
    top: 4vw;
    left: -25vw;
  }
  .tenth-page .swiper .swiper-wrapper .slide6 .paraBox :nth-child(2) {
    width: 23vw;
    top: 2vw;
    left: 2.5vw;
  }
  .tenth-page .swiper .swiper-wrapper .slide6 .paraBox :nth-child(3) {
    width: 75%;
    left: 0.6vw;
    top: 21.5vw;
  }
  .tenth-page .swiper .swiper-wrapper .slide7 .paraBox {
    width: 48vw;
    height: 100%;
    right: 0;
    left: auto;
    top: 0;
    background-color: rgba(255, 255, 255, 0.384);
  }
  .tenth-page .swiper .swiper-wrapper .slide7 .paraBox :nth-child(1) {
    width: 25vw;
    top: 4vw;
    left: -25vw;
  }
  .tenth-page .swiper .swiper-wrapper .slide7 .paraBox :nth-child(2) {
    width: 75%;
    top: 2vw;
    left: 1.5vw;
  }
  .tenth-page .swiper .swiper-wrapper .slide7 .paraBox :nth-child(3) {
    width: 75%;
    left: 1.5vw;
    top: 13vw;
  }
  .tenth-page .swiper .swiper-wrapper .slide8 .paraBox :nth-child(1) {
    right: 11vw;
    top: 4.5vw;
    width: 24vw;
  }
  .tenth-page .swiper .swiper-wrapper .slide8 .paraBox :nth-child(2) {
    right: 11vw;
    top: 12vw;
    width: 30vw;
  }
  .tenth-page .swiper .swiper-wrapper .slide9 .paraBox :nth-child(1) {
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 4.5vw;
    width: 65%;
  }
  .tenth-page .swiper .swiper-wrapper .slide9 .paraBox :nth-child(2) {
    bottom: 1.8vw;
    left: 18.5vw;
    width: 50.5vw;
  }
  .tenth-page .swiper .swiper-wrapper .slide10 .paraBox :nth-child(1) {
    right: 11vw;
    top: 4.5vw;
    width: 28vw;
  }
  .tenth-page .swiper .swiper-wrapper .slide10 .paraBox :nth-child(2) {
    right: 11vw;
    top: 11.5vw;
    width: 30vw;
  }
  .twelve-page .normal-page-bg {
    overflow: hidden;
  }
  .twelve-page .normal-page-bg img {
    -o-object-position: 18% center;
       object-position: 18% center;
    width: 100%;
  }
  .twelve-page-para :nth-child(3) {
    top: 25vw;
  }
  .twelve-page-para :nth-child(2) {
    top: 48vw;
    width: 85%;
  }
  .thirdteen-page {
    height: auto;
  }
  .thirdteen-page-para :nth-child(1) {
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 95vw;
    width: 70vw;
    filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.795));
  }
  .thirdteen-page-para :nth-child(2) {
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 106vw;
    width: 45vw;
    filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.795));
  }
  .thirdteen-page-para :nth-child(3) {
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 115vw;
    width: 55vw;
    filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.795));
  }
  .thirdteen-page-para :nth-child(4) {
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 127vw;
    width: 65vw;
    filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.795));
  }
}